@{
    ViewData["Title"] = "Yönetici Paneli";
}

<h2>Yönetici Paneli</h2>

<p>Bu panelde yöneticiler kullanıcı isteklerini yönetebilir, fiyatlandırma yapabilir ve değişiklikler gerçekleştirebilir.</p>
<a asp-action="Logout" class="btn btn-danger">Çıkış Yap</a>