@{
    ViewData["Title"] = "Uygulama Paneli";
}

<h2>Uygulama Paneli</h2>

<p>Bu panelde kullanıcılar uygulama ile ilgili işlemler gerçekleştirebilir.</p>
<a asp-action="Logout" class="btn btn-danger">Çıkış Yap</a>